.cars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__new {
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 0.4rem 1rem;
        border-radius: 5px;
        transition: all .2s;
        background-color: darkolivegreen;
        margin: 2rem 0;
        outline: none;

        &:hover {
            transform: translateY(-3px);
            background-color: limegreen;
            box-shadow: 0 1rem 2rem rgba(lightgreen, 0.3);
        }

        &:active {
            transform: translateY(-1px);
            background-color: limegreen;
            box-shadow: 0 1rem 2rem rgba(lightgreen, 0.3);
        }
    }
}
